<div class="edit--clientes">
<h1>Atualizando Cliente</h1>
<%= render 'form' %>

<table>
	<th class="botao botao--novo">
	<%= link_to 'Detalhes', @cliente %> </th> 
	<th class="botao botao--novo">
	<%= link_to 'Voltar', clientes_path %></th>
</table>
</div>