<html>
    <body>
      <h1 style="text-align:center;">Perfil de <%= @user.login %> </h1>
      <p style="font-size: 15px;">Essa ferramenta serve para realizar e gerenciar simulações do financiamento do programa federal Minha Casa Minha Vida 
      para os clientes da Hyperion Empreendimentos</p>
    </body>
</html>