// Place all the styles related to the simulacao controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coluna1{
	width:33%;
	float:left;
}

.coluna2{
	width:33%;
	float:left;
	margin-left:2%;
}

.form{
	float:left;
	margin-top: 5%;
	margin-left:5%;
}